#myCanvas2{
    border: 5px solid red;
}

#file{
    float: right;
}

#noteCanvas{
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

#note{
    width: 20px;
    height: 100px;
}

.note-on{
    background-color: green;
}

.note-off{
    background-color: white;
}